

body{
  font-family: sans-serif;
  font-size:110%;
  background-color:cornflowerblue;
  display: flex;
  flex-direction: column;
}

a:hover{color: whitesmoke;}
 
header {
  text-align: center;
  background-color: lightblue;
  justify-content: center;
}
#heading{
  font-family: sans-serif;
  font-size: 100%;
}
#profilephoto{width:30% ;
height: 30%;
border-radius: 105%;
border: 3px solid blue;
}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}


footer {
  background-color:rgb(206, 255, 255);
  text-align: center;
}


#content{
  background-color: lightblue;
 display: flex;
flex-direction: column;
}



#sidebar{
  width: 20%;
  background-color: lightblue;
  padding: 1rem ;
  color: black; 
  
 
}
.nav{
  list-style-type: none;
  padding: 0%;
  display: flex;
  flex-direction: column;
 
}
#Contact details{
 color:cornflowerblue;
 font-family: Arial, Helvetica, sans-serif;
}
#Intro{
  font-family: sans-serif;
  font-size: 115%;
}
.icons{
  width: 9rem;
  margin: 0.5rem;
  height: auto;
}





